/*
 	* SVG Icons Styles
*/

.icon {
	display: inline-block;
}

.expand {
	width:(512/512)*1em;
	height:1em;
}
.facebook {
	width:(512/512)*1em;
	height:1em;
}
.flash {
	width:(512/512)*1em;
	height:1em;
}
.google-plus {
	width:(512/512)*1em;
	height:1em;
}
.html5 {
	width:(299.21/299.21)*1em;
	height:1em;
}
.instagram {
	width:(511/511)*1em;
	height:1em;
}
.play {
	width:(320/320)*1em;
	height:1em;
}
.rocket {
	width:(512/512)*1em;
	height:1em;
}
.smartphone {
	width:(450.56/450.56)*1em;
	height:1em;
}
.telegram {
	width:(512/512)*1em;
	height:1em;
}
.twitter {
	width:(512/512)*1em;
	height:1em;
}
