section.section.testimonials(id="testimonials")
	.container
			.section__heading.section__heading--centered
				span.section__feel Feedback
				h2.h2.section__heading_title.plate-down.plate-down--centered What our customers are saying
			.testimonials__wrapper
				.clients-feedback
					.clients-feedback__image
						picture
							source(srcset="assets/images/user-images/user-1.webp", type="image/webp")
							img(src="assets/images/user-images/user-1.jpg", alt="Lorem")
					blockquote.blockquote.blockquote--centered.plate-down.plate-down--centered
						q.blockquote__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
					span.clients-feedback__user John Doe - Happy Customer
				.clients-feedback
					.clients-feedback__image
						picture
							source(srcset="assets/images/user-images/user-2.webp", type="image/webp")
							img(src="assets/images/user-images/user-2.jpg", alt="Lorem")
					blockquote.blockquote.blockquote--centered.plate-down.plate-down--centered
						q.blockquote__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
					span.clients-feedback__user Roslyn Doe - Happy Customer
				.clients-feedback
					.clients-feedback__image
						picture
							source(srcset="assets/images/user-images/user-3.webp", type="image/webp")
							img(src="assets/images/user-images/user-3.jpg", alt="Lorem")
					blockquote.blockquote.blockquote--centered.plate-down.plate-down--centered
						q.blockquote__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
					span.clients-feedback__user Thomas Doe - Happy Customer
