footer.footer
	.container
		.footer__wrapper
			.footer__copyright Made with love by 
				a(href="/").footer__copyright_link.underline-effect ShapingRain
			span.footer__heart ❤
			ul.social.social--gray
					li.social__item
						a(href="/")
							+svg('facebook')
					li.social__item
						a(href="/")
							+svg('google-plus')
					li.social__item
						a(href="/")
							+svg('twitter')
					li.social__item
						a(href="/")
							+svg('instagram')
					li.social__item
						a(href="/")
							+svg('telegram')
