section.intro(id="home")
	.container
		.intro__wrapper
			h1.intro__heading.plate-up A free and simple landing page
			p.intro__description.plate-down Namari is a free landing page template you can use for your projects. It is free to use for your personal and commercial projects, enjoy!
			span.btn-wrapper
				a(href="#").intro__link.btn.btn--black Start creating today
