section.section.pricing(id="pricing")
	.container
		.section__heading.section__heading--centered
			span.section__feel Your choice
			h2.h2.section__heading_title.plate-down.plate-down--centered We have the right package for you
		.pricing-values
			.pricing-values__item(data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000" data-aos-once="true")
				.pricing-values__item-wrapper
					.pricing__title
						h3.pricing__title_heading Personal
						span.pricing__title_description The standard version
					.pricing__value
						span.pricing__value_currency $
						span.pricing__value_cost 19
						p.pricing__value_description Lorem ipsum dolor sit amet, consectetur adipiscing elit
					ul.pricing__advantages
						li.pricing__advantages_item 5 Downloads
						li.pricing__advantages_item 2 Extensions
						li.pricing__advantages_item Tutorials
						li.pricing__advantages_item Forum Support
						li.pricing__advantages_item 1 year free updates
					span.btn-wrapper
						a(href="#").btn.btn--black Buy today


			.pricing-values__item.optimal(data-aos="fade-up" data-aos-delay="800" data-aos-duration="1000" data-aos-once="true")
				.pricing-values__item-wrapper
					.pricing__title
						h3.pricing__title_heading Student
						span.pricing__title_description Most popular choice
					.pricing__value
						span.pricing__value_currency $
						span.pricing__value_cost 29
						p.pricing__value_description Lorem ipsum dolor sit amet, consectetur adipiscing elit
					ul.pricing__advantages
						li.pricing__advantages_item 15 Downloads
						li.pricing__advantages_item 5 Extensions
						li.pricing__advantages_item Tutorials with Files
						li.pricing__advantages_item Forum Support
						li.pricing__advantages_item 2 years free updates
					span.btn-wrapper
						a(href="#").btn.btn--black Buy today


			.pricing-values__item(data-aos="fade-up" data-aos-delay="1100" data-aos-duration="1000" data-aos-once="true")
				.pricing-values__item-wrapper
					.pricing__title
						h3.pricing__title_heading Business
						span.pricing__title_description For the whole team
					.pricing__value
						span.pricing__value_currency $
						span.pricing__value_cost 49
						p.pricing__value_description Lorem ipsum dolor sit amet, consectetur adipiscing elit
					ul.pricing__advantages
						li.pricing__advantages_item Unlimited Downloads
						li.pricing__advantages_item Unlimited Extensions
						li.pricing__advantages_item HD Video Tutorials
						li.pricing__advantages_item Chat Support
						li.pricing__advantages_item Lifetime free updates
					span.btn-wrapper
						a(href="#").btn.btn--black Buy today

