section.section.companies(id="clients")
	.container
		.companies__wrapper
			.section__heading
				span.section__feel Trust
				h2.h2.section__heading_title.plate-down Companies who use our services
				p.section__description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam!
			ul.companies-list
				li.companies-list__item
					picture
						source(srcset="assets/images/company-images/company-logo1.webp", type="image/webp")
						img(src="assets/images/company-images/company-logo1.png", alt="Lorem" loading="lazy")
					.companies-list__item-text 
						span LOGO
				li.companies-list__item
					picture
						source(srcset="assets/images/company-images/company-logo2.webp", type="image/webp")
						img(src="assets/images/company-images/company-logo2.png", alt="Lorem" loading="lazy")
					.companies-list__item-text 
						span LOGO
				li.companies-list__item
					picture
						source(srcset="assets/images/company-images/company-logo3.webp", type="image/webp")
						img(src="assets/images/company-images/company-logo3.png", alt="Lorem" loading="lazy")
					.companies-list__item-text 
						span LOGO
				li.companies-list__item
					picture
						source(srcset="assets/images/company-images/company-logo4.webp", type="image/webp")
						img(src="assets/images/company-images/company-logo4.png", alt="Lorem" loading="lazy")
					.companies-list__item-text 
						span LOGO
				li.companies-list__item
					picture
						source(srcset="assets/images/company-images/company-logo5.webp", type="image/webp")
						img(src="assets/images/company-images/company-logo5.png", alt="Lorem" loading="lazy")
					.companies-list__item-text 
						span LOGO
				li.companies-list__item
					picture
						source(srcset="assets/images/company-images/company-logo6.webp", type="image/webp")
						img(src="assets/images/company-images/company-logo6.png", alt="Lorem" loading="lazy")
					.companies-list__item-text 
						span LOGO
				li.companies-list__item
					picture
						source(srcset="assets/images/company-images/company-logo7.webp", type="image/webp")
						img(src="assets/images/company-images/company-logo7.png", alt="Lorem" loading="lazy")
					.companies-list__item-text 
						span LOGO
				li.companies-list__item
					picture
						source(srcset="assets/images/company-images/company-logo8.webp", type="image/webp")
						img(src="assets/images/company-images/company-logo8.png", alt="Lorem" loading="lazy")
					.companies-list__item-text 
						span LOGO

