section.section.gallery(id="gallery")
	.container
		.section__heading.section__heading--centered
				span.section__feel Imagination
				h2.h2.section__heading_title.plate-down.plate-down--centered What We Do?
		.gallery-wrapper
			.gallery-item(data-aos="flip-up" data-aos-delay="100" data-aos-once="true")
				a(href="assets/images/gallery-images/gallery-image-1.jpg" data-gallery="1" data-type="image").glightbox
					img(src="assets/images/gallery-images/gallery-image-1.jpg", alt="Lorem" loading="lazy")
					+svg('expand')
			.gallery-item(data-aos="flip-up" data-aos-delay="200" data-aos-once="true")
				a(href="assets/images/gallery-images/gallery-image-2.jpg" data-gallery="1" data-type="image").glightbox
					img(src="assets/images/gallery-images/gallery-image-2.jpg", alt="Lorem" loading="lazy")
					+svg('expand')
			.gallery-item(data-aos="flip-up" data-aos-delay="300" data-aos-once="true")
				a(href="assets/images/gallery-images/gallery-image-3.jpg" data-gallery="1" data-type="image").glightbox
					img(src="assets/images/gallery-images/gallery-image-3.jpg", alt="Lorem" loading="lazy")
					+svg('expand')
			.gallery-item(data-aos="flip-up" data-aos-delay="400" data-aos-once="true")
				a(href="assets/images/gallery-images/gallery-image-4.jpg" data-gallery="1" data-type="image").glightbox
					img(src="assets/images/gallery-images/gallery-image-4.jpg", alt="Lorem" loading="lazy")
					+svg('expand')
			.gallery-item(data-aos="flip-up" data-aos-delay="500" data-aos-once="true")
				a(href="assets/images/gallery-images/gallery-image-5.jpg" data-gallery="1" data-type="image").glightbox
					img(src="assets/images/gallery-images/gallery-image-5.jpg", alt="Lorem" loading="lazy")
					+svg('expand')
			.gallery-item(data-aos="flip-up" data-aos-delay="600" data-aos-once="true")
				a(href="assets/images/gallery-images/gallery-image-6.jpg" data-gallery="1" data-type="image").glightbox
					img(src="assets/images/gallery-images/gallery-image-6.jpg", alt="Lorem" loading="lazy")
					+svg('expand')
