header.header
	.container
		.header__container
			a(href="#home").header__logo Namari
			nav.header__wrapper.js-menu
				ul.header__links
					li.header__links_item.js-header-link
						a(href="#home") Home
					li.header__links_item.js-header-link
						a(href="#about") About
					li.header__links_item.js-header-link
						a(href="#gallery") Gallery
					li.header__links_item.js-header-link
						a(href="#services") Services
					li.header__links_item.js-header-link
						a(href="#testimonials") Testimonials
					li.header__links_item.js-header-link
						a(href="#clients") Clients
					li.header__links_item.js-header-link  
						a(href="#pricing") Pricing
				ul.social
					li.social__item
						a(href="/")
							+svg('facebook')
					li.social__item
						a(href="/")
							+svg('google-plus')
					li.social__item
						a(href="/")
							+svg('twitter')
					li.social__item
						a(href="/")
							+svg('instagram')
					li.social__item
						a(href="/")
							+svg('telegram')
			button.burger.js-burger
				span
				
