section#about.section.about
	.container
		.about__wrapper
			.section__heading.about__heading.about__wrapper-item
				span.section__feel Success
				h2.h2.section__heading_title.plate-down How We Help You To Sell Your Product
				p.section__description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam!
			.about__features.about__wrapper-item
				.feature-row
					.feature-item(data-aos="fade-up" data-aos-once="true")
						span.feature-item__icon
							+svg('html5')
						h3.h3.feature-item__title HTML5 & CSS3
						p.feature-item__description Has ne tritani atomorum conclusionemque, in dolorum volumus cotidieque eum. At vis choro neglegentur iudico
					.feature-item(data-aos="fade-up" data-aos-delay="100" data-aos-once="true")
							span.feature-item__icon
								+svg('flash')
							h3.h3.feature-item__title Easy to Use
							p.feature-item__description Cu vero ipsum vim, doctus facilisi sea in. Eam ex falli honestatis repudiandae, sit detracto mediocrem disputationi
				.feature-row
					.feature-item(data-aos="fade-up" data-aos-delay="200" data-aos-once="true")
							span.feature-item__icon
								+svg('smartphone')
							h3.h3.feature-item__title Fully Responsive
							p.feature-item__description Id porro tritani recusabo usu, eum intellegam consequuntur et. Fugit debet ea sit, an pro nemore vivendum
					.feature-item(data-aos="fade-up" data-aos-delay="300" data-aos-once="true")
							span.feature-item__icon
								+svg('rocket')
							h3.h3.feature-item__title Parallax Effect
							p.feature-item__description Id porro tritani recusabo usu, eum intellegam consequuntur et. Fugit debet ea sit, an pro nemore vivendum
